<%- include('../layouts/adminheader.ejs') %>
  <%- include('../layouts/admin_nav.ejs') %>

    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Banner/</span> Add Banner</h4>

      <!-- Basic Layout & Basic with Icons -->
      <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
          <div class="card mb-4">
            <br>
            <div class="card-body">
              <form method="post" class="row g-3 needs-validation" novalidate enctype="multipart/form-data">
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label" for="basic-default-name">caption </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="caption" id="basic-default-name" placeholder=""
                      required />
                    <div class="invalid-feedback">Please Enter Banner caption </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label" for="basic-default-name">title </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="title" id="basic-default-name" placeholder=""
                      required />
                    <div class="invalid-feedback">Please Enter Banner Title </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label" for="basic-default-name"> sub title</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="sub_title" id="basic-default-name" placeholder=""
                      required />
                    <div class="invalid-feedback">Please Enter Sub Title</div>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="formFile" class="col-sm-2 col-form-label">Image </label>
                  <input class="form-control" type="file" id="formFile" name="image" required />
                  <div class="invalid-feedback">Please Choose a image</div>
                </div>

                <div class="row justify-content-end">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">submit</button>

                    <% if(typeof message !=='undefined' ){ %>

                      <p style="color: rgb(100, 0, 0);">
                        <%= message %>
                      </p>
                      <% } %>

                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- / Content -->

    <!-- Footer -->
    <footer class="content-footer footer bg-footer-theme">
      <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
        <div class="mb-2 mb-md-0">
          ©
          <script>
            document.write(new Date().getFullYear());
          </script>
          , Ego.ft
        </div>
      </div>
    </footer>
    <!-- / Footer -->

    <div class="content-backdrop fade"></div>
    </div>
    <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (() => {
        'use strict';


        const forms = document.querySelectorAll('.needs-validation');


        Array.prototype.slice.call(forms).forEach((form) => {
          form.addEventListener('submit', (event) => {
            if (!form.checkValidity()) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      })();
    </script>
    <%- include('../layouts/adminfooter.ejs') %>