<%- include('../layouts/adminheader.ejs') %>
  <%- include('../layouts/admin_nav.ejs') %>

    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Coupon/</span> Add Coupon</h4>

      <!-- Basic Layout & Basic with Icons -->
      <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
          <div class="card mb-4">
            <br>
            <div class="card-body">
              <form method="post" class="row g-3 needs-validation" novalidate>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label" for="basic-default-name">Coupon Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" id="basic-default-name" placeholder=""
                      required />
                    <div class="invalid-feedback">Please enter Coupon Name</div>
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label" for="basic-default-name">Coupon Description</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="description" id="basic-default-name" placeholder=""
                      required />
                    <div class="invalid-feedback">Please Enter Coupon Description</div>
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label" for="basic-default-name">Discount Percentage</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="discount_percentage" id="basic-default-name"
                      placeholder="" required />
                    <div class="invalid-feedback">Please Enter Discount Percentage</div>
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label" for="basic-default-name">Discount Minimum Amount</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="min_amount" id="basic-default-name" placeholder=""
                      required />
                    <div class="invalid-feedback">Please Enter Discount Minimum Amount</div>
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label" for="basic-default-name">Discount Price</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="discountprice" id="basic-default-name" placeholder=""
                      required />
                    <div class="invalid-feedback">Please enter Discount Price</div>
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label" for="basic-default-name">Date</label>
                  <div class="col-sm-10">
                    <input type="date" class="form-control" name="date" id="basic-default-name" placeholder=""
                      required />
                    <div class="invalid-feedback">Please Enter Expiry Date</div>
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label" for="basic-default-name">Code</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="code" id="basic-default-name" placeholder=""
                      required />
                    <div class="invalid-feedback">Please Enter Coupon Code</div>
                  </div>
                </div>
                <% if(typeof message !=='undefined' ){ %>

                  <p style="color: rgb(100, 0, 0);">
                    <%= message %>
                  </p>
                  <% } %>

                    <div class="row justify-content-end">
                      <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">submit</button>
                      </div>
                    </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- / Content -->
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (() => {
        'use strict';


        const forms = document.querySelectorAll('.needs-validation');


        Array.prototype.slice.call(forms).forEach((form) => {
          form.addEventListener('submit', (event) => {
            if (!form.checkValidity()) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      })();
    </script>
    <%- include('../layouts/adminfooter.ejs') %>