<%- include('../layouts/adminheader.ejs') %>
  <script src="https://cdn.jsdelivr.net/gh/BossBele/cropzee@latest/dist/cropzee.js" defer></script>
  <%- include('../layouts/admin_nav.ejs') %>

    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Category/</span> Add Category</h4>

      <!-- Basic Layout & Basic with Icons -->
      <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
          <div class="card mb-4">
            <br>
            <div class="card-body">
              <form method="post" class="row g-3 needs-validation" novalidate enctype="multipart/form-data">
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label" for="basic-default-name">Category Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" id="basic-default-name" placeholder=""
                      required />
                    <div class="invalid-feedback">Please Enter Category Name</div>
                    <% if(typeof message !=='undefined' ){ %>

                      <div class="feedback" style="color: red;">
                        <%= message %>
                      </div>

                      <% } %>
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label" for="basic-default-name">Category Description</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="description" id="basic-default-name" placeholder=""
                      required />
                    <div class="invalid-feedback">Please Enter Category Description</div>
                  </div>
                </div>

                <div>
                  <label for="input" class="image-previewer" data-cropzee="input"></label>
                  <input id="input" type="file" name="image" accept="image/*">
                  <button onclick="alert(cropzeeGetImage('input'))">Get Image (as blob / data-url)</button>
                            
                </div>

                <div class="row justify-content-end">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">submit</button>


                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- / Content -->
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (() => {
        'use strict';


        const forms = document.querySelectorAll('.needs-validation');


        Array.prototype.slice.call(forms).forEach((form) => {
          form.addEventListener('submit', (event) => {
            if (!form.checkValidity()) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      })();
    </script>
    <script>
      $(document).ready(function () {
        $("#input").cropzee();
        $.each($("input[name='enable']"), function () {
          if ($(this).is(":checked")) {
            $(this).closest("div.uk-position-relative").find("textarea").removeAttr("disabled");
          } else {
            $(this).closest("div.uk-position-relative").find("textarea").attr("disabled", "disabled");
          }
        });
        $("input, select, textarea").on("keyup change", $.debounce(300, function () {
          destroyPlugin($("#input"));
          $.each($("input[name='enable']"), function () {
            if ($(this).is(":checked")) {
              $(this).closest("div.uk-position-relative").find("textarea").removeAttr("disabled");
            } else {
              $(this).closest("div.uk-position-relative").find("textarea").attr("disabled", "disabled");
            }
          });
          var aspectRatio = "";
          $.each($("input[name='aspectRatio']"), function () {
            aspectRatio += $(this).val();
          });
          var maxSize = [];
          $.each($("input[name='maxSize'], select[name='maxSize']"), function () {
            maxSize.push($(this).val());
          });
          var minSize = [];
          $.each($("input[name='minSize'], select[name='minSize']"), function () {
            minSize.push($(this).val());
          });
          var startSize = [];
          $.each($("input[name='startSize'], select[name='startSize']"), function () {
            startSize.push($(this).val());
          });
          var allowedInputs = [];
          $.each($("input[name='allowedInputs']:checked"), function () {
            allowedInputs.push($(this).val());
          });
          var imageExtension = "";
          $.each($("input[name='imageExtension']:checked"), function () {
            imageExtension += $(this).val();
          });
          var returnImageMode = "";
          $.each($("input[name='returnImageMode']:checked"), function () {
            returnImageMode += $(this).val();
          });
          var modalAnimation = "";
          $.each($("select[name='modalAnimation']"), function () {
            modalAnimation += $(this).val();
          });
          var onCropStart = null;
          $.each($("textarea[name='onCropStart']"), function () {
            if (!$(this).is(":disabled")) {
              onCropStart = $(this).val();
            }
          });
          var onCropMove = null;
          $.each($("textarea[name='onCropMove']"), function () {
            if (!$(this).is(":disabled")) {
              onCropMove = $(this).val();
            }
          });
          var onCropEnd = null;
          $.each($("textarea[name='onCropEnd']"), function () {
            if (!$(this).is(":disabled")) {
              onCropEnd = $(this).val();
            }
          });
          var onInitialize = null;
          $.each($("textarea[name='onInitialize']"), function () {
            if (!$(this).is(":disabled")) {
              onInitialize = $(this).val();
            }
          });
          window.options = {
            aspectRatio: aspectRatio,
            maxSize: maxSize,
            minSize: minSize,
            startSize: startSize,
            onCropStart: onCropStart,
            onCropMove: onCropMove,
            onCropEnd: onCropEnd,
            onInitialize: onInitialize,
            modalAnimation: modalAnimation,
            allowedInputs: allowedInputs,
            imageExtension: imageExtension,
            returnImageMode: returnImageMode,
          }
          // alert(JSON.stringify(options));
          $("#input").cropzee(options);
        }));
      });
      var destroyPlugin = function ($elem, eventNamespace) {
        var isInstantiated = !!$.data($elem.get(0));
        if (isInstantiated) {
          $.removeData($elem.get(0));
          $elem.off(eventNamespace);
          $elem.unbind('.' + eventNamespace);
        }
      };
    </script>
    <style>
      * {
        font-family: sans-serif;
      }

      .image-previewer {
        height: 300px;
        width: 300px;
        display: flex;
        border-radius: 10px;
        border: 1px solid lightgrey;
      }

      li {
        font-size: 11px;
      }

      .dependencies {
        font-family: 'Reenie Beanie', cursive;
        font-size: 28px;
        text-decoration: none;
      }

      textarea {
        resize: none;
        min-height: 50px;
      }

      pre,
      code {
        user-select: all;
      }
    </style>

    <%- include('../layouts/adminfooter.ejs') %>