<!-- all js include start -->

<!-- jQuery -->
<script src="/userr/js/jquery.min.js"></script>

<!-- popper js -->
<script src="/userr/js/popper.min.js"></script>

<!-- bootstrap -->
<script src="/userr/js/bootstrap.min.js"></script>

<!-- core.min.js -->
<script src="/userr/js/core.min.js"></script>

<!-- zoom js -->
<script src="/userr/js/xzoom.js"></script>

<!-- hammer js -->
<script src="/userr/js/jquery.hammer.min.js"></script>

<!-- setup js -->
<script src="/userr/js/setup.js"></script>

<!-- custom scripts -->
<script src="/userr/js/main.js"></script>

<!-- all js include end -->

</body>


<!-- Mirrored from smartshop.websitelayout.net/shop-product-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 15:59:12 GMT -->

</html>