<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from smartshop.websitelayout.net/shop-product-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 15:58:47 GMT -->

<head>

  <!-- metas -->
  <meta charset="utf-8">
  <meta name="Arshad" content="ego.ft clothing brand" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="keywords" content="ego.ft clothing brand" />
  <meta name="description" content="ego.ft clothing brand" />

  <!-- title  -->
  <title>Ego.ft</title>

  <!-- favicon -->
  <link rel="shortcut icon" href="/userr/img/logos/egoft.png">
  <link rel="apple-touch-icon" href="/userr/img/logos/egoft.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/userr/img/logos/egoft.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/userr/img/logos/egoft.png">

  <!-- plugins -->
  <link rel="stylesheet" href="/userr/css/plugins.css">

  <!-- theme core css -->
  <link href="/userr/css/styles.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"></script>
</head>

<body>