<%- include('../layouts/header.ejs') %>

  <div class="container">
    <h1 style="text-align: center;">Verified</h1>
    <p style="text-align: center;">Your email address has been Verified successfully.Thank You.</p>
    <a style="align-items: center;" href="/" class="btn-dark float-end" >Go to Home</a>
  </div>

  <%- include('../layouts/footer.ejs') %>