<%- include('../layouts/header.ejs') %>
    <%- include('../layouts/nav.ejs') %>
        <!-- PAGE LOADING
    ================================================== -->
        <div id="preloader"></div>

        <!-- MAIN WRAPPER
    ================================================== -->
        <div class="main-wrapper mp-pusher" id="mp-pusher">



            <!-- PAGE TITLE
        ================================================== -->
            <section class="page-title-section bg-img cover-background" data-background="img/bg/page-title.jpg">
                <div class="container">

                    <div class="title-info">
                        <h1>Help / FAQ</h1>
                    </div>
                    <div class="breadcrumbs-info">
                        <ul class="ps-0">
                            <li><a href="home-shop-1.html">Home</a></li>
                            <li><a href="#">Help / FAQ</a></li>
                        </ul>
                    </div>

                </div>
            </section>

            <!-- FAQ
        ================================================== -->
            <section class="md">
                <div class="container">

                    <div class="row">
                        <div class="col-lg-12 mb-1-9 mb-lg-0">
                            <div class="resp-tabs-container hor_1 p-0">

                                <div id="accordion" class="accordion-style">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseOne" aria-expanded="true"
                                                    aria-controls="collapseOne">Do you offer returns/exchanges?</button>
                                            </h5>
                                        </div>
                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                            data-bs-parent="#accordion">
                                            <div class="card-body">
                                                - Returns will be considered up to 7 days from when the product was
                                                received and in perfect selling condition and unworn. Tags must be
                                                included and unbroken. Please head to our Returns Portal in order to
                                                place a return request. <br>

                                                <br> - We offer two return options :

                                                <br> 1. Refund as Store Credit

                                                <br> In this case, the items must be self shipped by the customer to our
                                                facility. Once the items have passed quality check, a full refund is
                                                initiated immediately in the form of store credits.

                                                <br> 2. Refund to Payment Method

                                                <br> In this case, a reverse pickup will be initiated and the products
                                                will be picked up from your location. Once the items have passed quality
                                                check, a refund will be initiated to the payment method used while
                                                placing the order. Restocking and transportation charge of Rs.150 will
                                                be deducted per item. Refunds to payment method can take 4-5 business
                                                days to reflect in your account.


                                                <br> - All items are inspected thoroughly before a return is processed.
                                                Items found worn/used/unsellable will be rejected and returned back to
                                                you. If you receive a faulty item, please raise a return request within
                                                3 days of receipt as we cannot assist you after that time frame. Please
                                                contact wecare@desiminimals.com for assistance.

                                                <br> - Products purchased on "SALE" cannot be cancelled once the order
                                                is placed and are not eligible for return/refund/exchange.

                                                <br> - Headwear and accessories cannot be returned.

                                                <br> We cannot refund your postage costs unless the product is faulty /
                                                incorrect. If your item is faulty or incorrect, you will have to let us
                                                know within 3 days of receipt. We cannot give any refunds/assistance
                                                after this time period. Please make sure that you have carefully
                                                reviewed your order before finalizing your purchases. For more
                                                information, or if you are unsure if you are eligible for a refund or
                                                exchange, please contact us at wecare@ego.fftt.com
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseTwo" aria-expanded="false"
                                                    aria-controls="collapseTwo">Which size should I buy?
                                                    </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                            data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <br> We highly recommend checking the size guide before placing an
                                                order. The size guide is available on every product page for your
                                                reference. In case you are still confused, you can always call us at +91
                                                73565 68978 for any size related queries. We'll be there to help you out
                                                :)

                                                <br> Timings -Monday - Friday
                                                <br> 11am - 5pm
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseThree" aria-expanded="false"
                                                    aria-controls="collapseThree">What are the shipping times and cost?
                                                    </button>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                            data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <ul>
                                                    <li>Free shipping on all prepaid orders</li>
                                                    <li>Products are processed and shipped within 72 hours.</li>
                                                    <li>Delivery of the product is done within 3 to 8 business days</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingFour">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseFour" aria-expanded="false"
                                                    aria-controls="collapseFour">Do you offer Cash On Delivery?</button>
                                            </h5>
                                        </div>
                                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                            data-bs-parent="#accordion">
                                            <div class="card-body">
                                                No, we do not offer Cash On Delivery as a shipping method anymore.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <%- include('../layouts/foot.ejs') %>

        </div>



        <a href="#" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>


        </body>
        <%- include('../layouts/footer.ejs') %>