<%- include('../layouts/header.ejs') %>

<link rel="stylesheet" href="/css/stylee.css">

  <div class="preloader"></div>
  <div class="container">

    <h1><b>Forget Password</b></h1>

    <form method="post" action="/forget-password/<%= user %>">
      <input class="signup-input" id="email" type="password" name="pass1" placeholder="Enter Password">
      <input class="signup-input" id="email" type="password" name="pass2" placeholder="Conform Password">

      <button type="submit">Reset Password</button>


      <br>

      <br>
      <% if(typeof message !=='undefined' ){ %>
        <div class="alert-success" role="alert">
          <p style="color: rgb(100, 0, 0);">
            <%= message %>
          </p>
        </div>

        <% } %>
    </form>
  </div>

  <%- include('../layouts/footer.ejs') %>