<%- include('../layouts/header.ejs') %>
<%- include('../layouts/nav.ejs') %>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper mp-pusher" id="mp-pusher">

        
        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background" data-background="img/bg/page-title.jpg">
            <div class="container">

                <div class="title-info">
                    <h1>Privacy Policy</h1></div>
                <div class="breadcrumbs-info">
                    <ul class="ps-0">
                        <li><a href="/home">Home</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>

            </div>
        </section>
        
        <!-- PRIVACY POLICY
        ================================================== -->
        <section class="md">
            <div class="container">
                
                <div class="row justify-content-center">
                    <div class="col-lg-10">

                        <div class="common-block">

                            <div class="inner-title">
                                <h2 class="mb-0">Privacy Policy</h2>
                            </div>



                            <p class="lead">
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.
                            </p>

                             

                                
                                    <h3 class="display-28 display-md-27 font-weight-500 mb-2">01. Collection of personally recognizable  data</h3>
                                    <p>Einventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.</p>

                                    <ul class="default-list ps-0">
                                        <li>Laboris aliquip commodo consequat. </li>
                                        <li>Excepteur cupidatat non proident elikona.</li>
                                        <li>Anatus error sit voluptatem accusantium doloremque</li>
                                        <li>Totam rem aperiam, eaque ipsa quaeab vertikoillo inventore.</li>
                                        <li>Bspernatur aut odit aut fugit, sed quia consequuntur magni dolores.</li>
                                    </ul>

                                    <h3 class="display-28 display-md-27 font-weight-500 mb-2">02. Your consent with safety precautions</h3>
                                    <p>voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>

                                    <ul class="default-list ps-0">
                                        <li>Voluptatem accusantium doloremque laudantium.</li>
                                        <li>Tnventore veritatis et quasi architecto beatae vitae.</li>
                                        <li>Foluptatem quia voluptas sit aspernatur aut odit aut fugit.</li>
                                    </ul>


                                    <h3 class="display-28 display-md-27 font-weight-500 mb-2">03. Questions?</h3>
                                    <p class="mb-0">Please contact us regarding any questions regarding this.</p>

                        </div>

                    </div>
                </div>

            </div>
        </section>
      \
        
    </div>
    
    <a href="#" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    

<%- include('../layouts/foot.ejs') %>
<%- include('../layouts/footer.ejs') %>